.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  list-style: none;
  padding: 20px;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.createBox {
  text-align: start;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.textPosition {
  font-size: 17px;
  text-align: start;
  margin-left: 36px;
  padding: 6px;
}

.textWarning {
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 5px;
}

.languageList {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 6px;
  margin-left: 36px;
}

.link {
  display: flex;
  text-decoration: none;
  color: black;
}

.imgPosition {
  display: block;

  border-radius: 12px;

  text-align: start;
  margin-left: 36px;
  padding: 6px;
}

.listLink {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  list-style: none;
}

@media screen and (max-width: 480px) {
  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

    list-style: none;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
  }

  .textPosition {
    font-size: 12px;
    margin-left: 0px;
    padding: 0px;
  }

  .imgPosition {
    width: 100%;
    margin-left: 0px;
    padding: 0px;
  }
}
