.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.greeting {
  font-size: 19px;
  margin-bottom: 0px;
}

.name {
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .menu {
    flex-direction: row;

    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    gap: 10px;
  }
}
